[buildout]
develop = .
parts = test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = z3c.jbot

[versions]
ZODB3 = 3.8.1
zope.annotation = 3.4.1
zope.app.http = 3.5.1
zope.app.i18n = 3.6.0
zope.app.locales = 3.4.5
zope.app.zcmlfiles = 3.5.3
zope.app.publication = 3.5.3
zope.app.publisher = 3.6.2
zope.app.pagetemplate = 3.6.0
zope.app.component = 3.6.1
zope.app.container = 3.7.2
zope.app.form = 3.7.3
zope.app.folder = 3.5.1
zope.app.security = 3.7.0
zope.app.testing = 3.6.1
zope.component = 3.6.0
zope.configuration = 3.5.0
zope.container = 3.7.2
zope.deferredimport = 3.4.0
zope.deprecation = 3.4.0
zope.dottedname = 3.4.5
zope.dublincore = 3.4.1
zope.event = 3.4.0
zope.exceptions = 3.5.2
zope.hookable = 3.4.0
zope.i18n = 3.7.0
zope.i18nmessageid = 3.4.3
zope.interface = 3.5.0
zope.intid = 3.7.1
zope.lifecycleevent = 3.5.2
zope.location = 3.5.4
zope.proxy = 3.5.0
zope.publisher = 3.6.3
zope.schema = 3.5.1
zope.security = 3.6.2
zope.site = 3.6.4
zope.testing = 3.7.1
